 
 

h1 { color: red ; display: inline-block; background-color: rgb(14, 7, 7); padding-top: 10px ;
   padding-bottom: 10px; padding-left: 150px }
h2 {	color : red; background-color: black ; }
body { padding: 8px ; }
 .dibu {text-align: center ; color: red}
 #container {background-color: lightblue; display: inline-block;}

 
  
   
   